@{
    ViewData["Title"] = "Home Page";
}

@model Chef


<div class>
    <div class = "text-center d-*-inline">
        <h3>Chefs | <a href="/dishes">Dishes</a></h3>
    </div>
    <div class = "text-end">
        <a href="/chef/add">Add a Chef</a>
    </div>
</div>

<h4 class = "mt-5">Check out our roster of Chefs!</h4>
<hr class = "mb-5">
<div class = "text-center">
    <table class = "table table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
        </tr>
        @foreach(var c in ViewBag.AllChefs)
        {
            <tr>
                <td>@c.FirstName</td>
                <td>@c.LastName</td>
                <td>@c.DOB</td>
            </tr>
        }
    </table>

</div>

