<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Submitted</title>
</head>
<body>
    <h1>Submitted Info</h1><br><br>
    <div>
           <h2>Your Name:</h2>
           <p>@ViewBag.Name</p>
    </div>
    <div>
           <h2>Dojo Location:</h2>
           <p>@ViewBag.Location</p>
    </div>
    <div>
           <h2>Favorite Langauge:</h2>
           <p>@ViewBag.FavLanguage</p>
    </div>
    <div>
           <h2>Comment:</h2>
           <p>@ViewBag.Comment</p>
    </div>
</body>
</html>