@model Coder

<br><h2>Submitted Info</h1><br>
    <div>
        <h3>Your Name: @Model.Name</h3>        
    </div>
    <div>
        <h3>Dojo Location: @Model.Location</h3>        
    </div>
    <div>
        <h3>Favorite Langauge: @Model.FavLanguage</h3>        
    </div>
    <div>
        <h3>Comment: @Model.Comment</h3>        
    </div>