@{
    ViewData["Title"] = "Home Page";
}
@model List<Wedding>

<div class = "d-flex justify-content-between mb-5">
    <h1>Welcome to the Wedding Planner</h1>
    <a href="/Logout">Logout</a>
</div>

<div class = "text-center">
<table class = "table table-striped">
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guest</th>
        <th>Action</th>
    </tr>
    @foreach (var w in @Model)
    {
    <tr>
        <td><a href="/wedding/@w.WeddingId">@w.WedderOne & @w.WedderTwo</a></td>
        <td>@w.Date</td>
        <td>@w.Guests.Count()</td>
        <td>
        @{
            if (w.Creator == ViewBag.UserId)
            {
                <a href="/wedding/delete/@w.WeddingId">Delete</a>
            }
            else if(w.Guests.Where(g => g.UserId == ViewBag.UserId).Count() > 0)
            {
                <a href="/wedding/unrsvp/@w.WeddingId">UNRSVP</a>
            }
            else
            {
                <a href="/wedding/rsvp/@w.WeddingId">RSVP</a>
            }
        }
        </td>
    </tr>
    }
</table>
</div>
<a href="/wedding/new">New Wedding</a>